*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
     font-family: 'Lato', sans-serif; 
    /* font-size : 100% = 16px;
    1px = 6.25%;
    10px = 62.5%; */
}
header{
    background-color: white;
    display: flex;
    padding: 0px  14rem;  
}
.top{
    margin: 1.6rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-header{
    display: flex;
    width: 30%;
}
.location{
    display: flex;
    align-items: center;
    margin-left: 15%;
    justify-content: space-between;
    font-size: 1.3rem;
    width: 100%;
}
.set-location-btn{
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px black solid;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.set-location-btn:hover{
    color: orange;
    border-bottom: 2px rgb(252, 120, 4) solid;
}

.location p{
    color: rgb(105, 104, 104);
    font-weight: 300;
    cursor: pointer;
}
.arrow{
    border: solid rgb(246, 121, 12); 
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.4rem;   
    margin-bottom:3% ;
}
.down{
    transform: rotate(45deg);
    /* -webkit-transform: rotate(45deg); */
} 
.down:hover{
    cursor: pointer;
}

.right-header{
    float: right;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7rem;
}

.right-header-items {
    display: flex;
    align-items: center;
    width: 70%;
    height: 5rem;
    justify-content: space-between;
}

.right-header-items li {
    list-style-type: none;
    width: 25%;
}
.right-header-items a{
    display: flex;
    align-items:  center;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    color:  rgb(62, 61, 61);
    text-decoration: none;
}
.right-header-items a:hover{
    color: orange;
}
.right-header-items span{
    margin-left: 10%;
}
.headings{
    padding: 0 14rem 0 14rem;
    display: flex;
    align-items: center;
    height: 4vh;
    background-color: #f1f1f3;
}
.headings-list{
    display: flex;
    list-style-type: none;
    width: 25%;
    justify-content: space-between;
    font-size: 1.1rem;
}

.headings-list span{
    color: #9c9da4;
}

.headings-list a{
    text-decoration: none;
    font-weight: 400;
}

.Home,.Banerghatta,.BMR{
    color: #93959f;
}

.Home:hover,.Banerghatta:hover,.BMR:hover{
    color: rgb(61, 61, 61);;
}

.KOP{
    color: rgb(61, 61, 61);
}

.container{
    height: 28vh;
    background-color: #272324;
}
.inner-container{
    display:  flex;
    margin: 0rem 14rem 0 14rem;
    justify-content: space-between;
    height: 30vh;
    padding-top: 4rem;
}
.img-container{
    width: 22%;
}
.title-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 1.3rem;
}

.title-container h2{
    font-size: 3.3rem;
    font-weight: 300;
    color: white;
}
.title-container-p1 {
    font-size: 1.5rem;
    color: rgb(183, 182, 182);
}
.order-details{
    display: flex;
    height: 6vh;
    width: 80%;
    align-items: center;

}
.offer-container{
    width: 30%;
    padding: 0px 2rem;
    height: 23vh;
}
.rating-details{
    width: 30%;
}
.time-details{
    width: 30%;
    text-align: center;
    border-right: 1px rgb(102, 101, 101) solid;
    border-left:  1px rgb(102, 101, 101) solid;
}
.money-details{
    width: 30%;
    text-align: center;
}
.order-detail {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 0.5rem 0px;
    color: rgb(241, 240, 240);
   
}
.order-description{
    font-size: 1.3rem;
    color: rgb(183, 182, 182);
}
.offer-container h3{
    color: white;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    position: relative;
    bottom: -16px;
    left: -10px;
    background-color: #272324;
    padding: 0.5rem;

}
.offer-container-details p{
    color: rgb(235, 234, 234);
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 0.5rem;
}
.offer-container-details{
    display:  flex;
    flex-direction: column;
    border: 1px rgb(102, 101, 101)  solid;
    padding: 0px 4rem;
    justify-content: space-evenly;
    width: 100%;
    height: 15vh;
}
.offer-details{
    display: flex;
}
.offer-details img,.gift-details img{
    height: 3.2rem;
}
.gift-details{
    display: flex;
    align-items: center;
}
.dishes-container{
    height: 3.8rem;
    display: flex;
    color: white;
    justify-content: space-between;
    position: relative;
    bottom: -1.3rem;
}
.searchbox{
    display:  flex;
    align-items: center;
    width: 45%;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.searchbox img{
    height: 2.5rem;
}
.searchbox input{
    height: 3rem;
    outline: none;
    font-weight: 600;
    border: none;
    color: #85878d;
}
.options-box,.favourite-box{
    display:  flex;
    align-items: center;
    font-size: 1.3rem;
    height: 3.8rem;
    width: 20%;
    justify-content: space-evenly;
    color: #3d4152;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.options-box input{
    height: 3rem;
    width: 1.7rem;
    cursor: pointer;
}

.favourite-box img{
    height: 2.2rem;
}

.options-box p,.favourite-box p {
    font-weight: 600;
    letter-spacing: 0.2px;
}

.options-box p:hover{
    color: #60b246;
    cursor: pointer;
}
.favourite-box p:hover{
    color: rgb(255, 95, 95);
    cursor: pointer;
}
.main-container{
    display: flex;
    height: 50rem;
}
.sidebar{
    width: 26%;
}
.sidebar ul{
    margin-top: 5rem;
}
.sidebar li{
    font-size: 1.4rem;
    font-weight: 600;
    padding-right: 3rem;
    margin-bottom: 1.3rem;
}
.sidebar-first{
    border-right: 4px #fc8019 solid;
}
.sidebar-default{
    color: #fc8019;
    float: right;
    text-decoration: none;
}
.sidebar-list{
    float: right;
    font-weight: 500;
    color: #282c3f;
}
.sidebar-list:hover{
    color:#fc8019;
    cursor: pointer;
}

.scroll-section{
   border-left:1px solid #e7e7e9;;
    width: 44%;
    padding: 4.2rem 5rem 0 5rem;
}
.scroll-section h4{
    font-size: 1.6rem;
    color: #282C3F;
}
.scroll-section p{
    font-size: 1.2rem;
    color: #686b78;
    margin: 0.5rem 0px;
}
.scroll-card{
    display:  flex;
    height: 18rem;
    justify-content: space-between;
    padding-top: 6%;
    border-bottom: 1px solid #d4d5d9;;
}
.scroll-card-details{
    width: 70%;
}
.scroll-card-details img{
    height:2vh;
}
.scroll-card-details .dish-name{
    color: #3e4152;
    font-size: 1.6rem;
    line-height: 2.5rem;
}
.scroll-card-details  .dish-price{
   font-size: 1.4rem;
   color:#3e4152;
}
.scroll-card-details .dish-recipe{
    font-size: 1.3rem;
    font-weight: 300;
    color : rgba(40,44,63,.45);
    margin-top: 1.2rem;
}
.scroll-card-img{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-card-img img{
    height: 9rem;
    width: 11rem;
    border-radius: 8%;
}
.scroll-card-img button{
    width: 55%;
    height: 3.5rem;
    font-size: 1.2rem;
    border: 2px gray solid;
    outline: none;
    color: #60b246;
    background-color: white;
    font-weight: 600;
    border: 1px solid #d4d5d9;
    position: relative;
    top: -2.7rem;
}
.scroll-card-img button:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.cart-section{
    width: 30%;
}
.cart-section h3{
    color: #7e808c;
    font-size: 2.8rem;
    margin: 4rem 0px;
    font-weight: 600;
}
.cart-section img{
    height: 22rem;
    width: 27rem;
    opacity: 0.6;
}
.cart-section p{
    color: #93959f;
    font-size: 1.5rem;
    font-weight: 300;
    margin-right: 55%;
    line-height: 2rem;
    margin-top: 1.9rem;
}